BasedOnStyle: LLVM  # Estilo base
IndentWidth: 4       # Ancho visual de indentación (espacios por tab)
TabWidth: 4          # Ancho del tabulador
UseTab: Always        # Utilizar tabs para la indentación
ColumnLimit: 80
MaxEmptyLinesToKeep: 3

AlignTrailingComments: true
PointerAlignment: Left  # Punteros alineados a la izquierda
AlignAfterOpenBracket: true
AlignConsecutiveAssignments: false
AlignOperands: true

BinPackParameters: true

BreakBeforeBraces: Custom  # Brackets personalizados
BraceWrapping:
  AfterControlStatement: true  # Brackets de estructuras de control en nueva línea
  AfterFunction: false          # Brackets de función en la misma línea
  AfterStruct: false            # Brackets de struct en la misma línea
  BeforeCatch: true
  BeforeElse: false
  AfterNamespace: true
  BeforeLambdaBody: true

BreakBeforeTernaryOperators: false

SpaceBeforeParens: ControlStatements  # Espacio antes de paréntesis en estructuras de control
SpacesInParentheses: false
SpaceAfterCStyleCast: true
SpaceBeforeInheritanceColon: true
SpacesBeforeTrailingComments: 1  # Espacio antes de comentarios alineados

AllowShortBlocksOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true

